.c-main-content {
  color: var(--color--swan);
  display: grid;
  grid-template-rows: max-content;
  min-height: 100vh;
  position: absolute;
  top: 0;
  transition: all 0.2s ease-out;
  width: 100vw;
}

.c-main-content--is-minimized {
  cursor: pointer;
  filter: blur(1em);
  left: 33vw;
  transform: scale(0.9);
}

.c-main-content--is-minimized > * {
  pointer-events: none;
}
