/* Define variables */
:root {
  --border-radius: 0.3em;
  --border-width: 2px;
  --breakpoint: 600px;
  --button-padding: 0.25em 0.75em;
  --color--tempranillo: #365D7E;
  --color--blueberry: #6B5C7B;
  --color--lychee: #BF6D84;
  --color--guava: #F1737E;
  --color--apricot: #F8B195;
  --color--charcoal: #2d2d2d;
  --color--basalt: #534746;
  --color--deep-sea: #547D83;
  --color--shallow-sea: #3AAEAB;
  --color--meadow: #A5D3AC;
  --color--savannah: #E6EFC2;
  --color--concrete: #999999;
  --color--fog: #DDDDDD;
  --color--swan: #f2f2f2;
  --shadow: 1em 1em 4em rgba(0,0,0,0.5);
  --spacing: 1.5rem;
  --transition: 0.2s all ease-in-out;
  --z-index--controls: 1;
  --z-index--header: 2;
  --z-index--sidebar: 3;
}

/* Import fonts */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/*

  CONTENTS

  1. Base Styles
    1.1 Body
    1.2 Headers
    1.3 Paragraphs
  2. Utilities
    2.1 Alignment
    2.2 Dislpay
    2.3 Flex
    2.4 Full Height
    2.5 Margins
    2.6 Padding
    2.7 Lists
  3. Objects
    3.1 Buttons
    3.2 Containers
    3.3 Inputs
    3.4 Labels
    3.5 Links
    3.6 Panels
    3.7 Subheadings
 */

/**
*  1. BASE STYLES
*/

* {
  box-sizing: border-box;
}

/* 1.1 Body */

html {
  background: linear-gradient(to bottom, var(--color--savannah) 10%,var(--color--meadow) 20%,var(--color--shallow-sea) 35%,var(--color--deep-sea) 45%, var(--color--basalt) 100%);
  min-height: 100vh;
}

body {
  color: var(--color--basalt);
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

/* 1.2 Headers */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
  margin-bottom: var(--spacing);
  margin-top: 0;
}

/* 1.3 Paragraphs */

p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/**
 * 2. UTILITIES
 */

/* 2.1 Alignment */

.u-align--center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.u-align--left {
  text-align: left;
}

.u-align--right {
  text-align: right;
}

/* 2.2 Display */

.u-display--block {
  display: block;
}

.u-display--flex {
  display: flex;
}

.u-display--grid {
  display: grid;
}

.u-display--inline-block {
  display: inline-block;
}

/* 2.4 Full height */

.u-full-height {
  height: 100%;
}

.u-full-width {
  width: 100%;
}

/* 2.5 Margins */

.u-margin-bottom {
  margin-bottom: var(--spacing);
}

.u-margin-left--small {
  margin-left: calc(0.5 * var(--spacing));
}

.u-margin-right {
  margin-right: var(--spacing);
}

.u-margin-right--small {
  margin-right: calc(0.5 * var(--spacing));
}

.u-margin-top {
  margin-top: var(--spacing);
}

.u-no-margin {
  margin: 0;
}

/* 2.6 Padding */

.u-padding {
  padding: var(--spacing);
}

.u-padding--small {
  padding: calc(0.5 * var(--spacing));
}

.u-magic-padding {
  padding-top: 5.5625em;
}

/* 2.7 Lists */

.u-unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 3. OBJECTS */

/* 3.1 Button */

.o-button {
  background: none;
  border-color: var(--color--deep-sea);
  border-radius: 2px;
  border-style: solid;
  border-width: 2px;
  box-shadow: none;
  color: var(--color--deep-sea);
  cursor: pointer;
  font-size: 1em;
  display: block;
  font-weight: 900;
  padding: 1em;
  text-shadow: none;
  text-transform: uppercase;
  transition: var(--transition);
}

.o-button--disabled {
  border-color: var(--color--concrete);
  color: var(--color--concrete);
  cursor: not-allowed;
}

.o-button:active,
.o-button:focus,
.o-button:hover {
  border-color: var(--color--shallow-sea);
  color: var(--color--shallow-sea);
  outline: none;
}

.o-button--disabled:active,
.o-button--disabled:focus,
.o-button--disabled:hover {
  background: none;
  border-color: var(--color--concrete);
  color: var(--color--concrete);
  outline: none;
}

.o-button--white {
  border-color: var(--color--swan);
  color: var(--color--swan);
  opacity: 0.5;
}

.o-button--white:active,
.o-button--white:focus,
.o-button--white:hover {
  border-color: white;
  color: white;
  opacity: 1;
}

.o-button--no-border {
  border: none;
}

.o-button--plain {
  border: none;
  font-size: 2em;
  padding: 0em;
}

.o-button-group {
  display: flex;
}

.o-button-group > * {
  margin: 0 calc(0.25 * var(--spacing));
}

/* 3.2 Containers */

.o-container {
  padding: var(--spacing);
  position: relative;
}

/* 3.3 Inputs */

.o-input {
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  color: var(--color--swan);
  display: block;
  font-size: 1.5em;
  padding: calc(0.5 * var(--spacing));
  position: relative;
  margin-top: 0.3em;
  transition: var(--transition);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999999;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #999999;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #999999;
}

.o-input:focus {
  border-bottom: 1px solid var(--color--shallow-sea);
  color: var(--color--shallow-sea);
  outline: none;
}

.o-input-field {
  margin-bottom: calc(0.5 * var(--spacing))
}

.o-input-label {
  display: block;
}

/* 3.4 Labels */

.o-label {
  align-items: center;
  background: var(--color--fog);
  border: none;
  border-radius: var(--border-radius);
  color: rgb(var(--label-text-color));
  display: inline-flex;
  font-size: 0.75em;
  font-weight: 900;
  padding: var(--button-padding);
  text-transform: uppercase;
  transition: var(--transition);
}

/* 3.5 Links */

.o-link {
  color: var(--color--deep-sea);
  text-decoration: none;
  transition: var(--transition);
}

.o-link:active,
.o-link:focus,
.o-link:hover {
  color: var(--color--shallow-sea);
}

.o-link-icon {
  margin-left: calc(0.5 * var(--spacing));
  transition: var(--transition);
}

.o-link:active .o-link-icon,
.o-link:focus .o-link-icon,
.o-link:hover .o-link-icon {
  color: var(--color--shallow-sea);
  margin-left: var(--spacing);
}

/* 3.6 Panels */

.o-panel {
  background: var(--color--swan);
  box-shadow: var(--shadow);
  color: var(--color--charcoal);
}

/* 3.7 Subheadings */

.o-subheading {
  display: block;
  font-size: 0.5em;
  font-style: italic;
}
