/* Define variables */
:root {
  --color--tempranillo: #365D7E;
  --color--blueberry: #6B5C7B;
  --color--lychee: #BF6D84;
  --color--guava: #F1737E;
  --color--apricot: #F8B195;
  --color--charcoal: #2d2d2d;
  --color--basalt: #534746;
  --color--deep-sea: #547D83;
  --color--shallow-sea: #3AAEAB;
  --color--meadow: #A5D3AC;
  --color--savannah: #E6EFC2;
  --color--swan: #f2f2f2;
  --body-background-color: 250,250,250;
  --body-text-color: var(--color--swan);
  --border-radius: 0.3em;
  --border-width: 2px;
  --breakpoint: 600px;
  --button-color: 0,206,201;
  --button-padding: 0.25em 0.75em;
  --error-color: 235,77,75;
  --header-background-color: 34,34,34;
  --header-text-color: 233,233,233;
  --label-background-color: 221,221,221;
  --label-background-color--active: 153,153,153;
  --label-border-color--active: 187,187,187;
  --label-text-color: 102,102,102;
  --list-item-image-background: 238,238,238;
  --list-item-image-color: 204,204,204;
  --spacing: 1.5rem;
  --transition: 0.2s all ease-in-out;
}

/* Import fonts */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/*

  CONTENTS

  1. Base Styles
    1.1 Body
    1.2 Headers
    1.3 Paragraphs
  2. Utilities
    2.1 Alignment
    2.2 Dislpay
    2.3 Flex
    2.4 Full Height
    2.5 Margins
    2.6 Padding
    2.7 Lists
  3. Objects
    3.1 Buttons
    3.2 Checkboxes
    3.3 Containers
    3.4 Inputs
    3.5 Labels
    3.6 Links
    3.7 Loaders
    3.8 Modals
    3.9 Selects
    3.10 Subheadings
  4. Components
    4.1 Breadcrumbs
    4.2 Empty List
    4.3 Error
    4.4 Header
    4.5 List Filters
    4.6 List Header
    4.7 List Item
    4.8 List Sorter
    4.9 Search Form
    4.10 ToggleButton
    4.11 Watchlist Item
 */

/**
*  1. BASE STYLES
*/

* {
  box-sizing: border-box;
}

/* 1.1 Body */

html {
  background: linear-gradient(to bottom, var(--color--savannah) 10%,var(--color--meadow) 20%,var(--color--shallow-sea) 35%,var(--color--deep-sea) 45%, var(--color--basalt) 100%);
  min-height: 100vh;
}

body {
  color: var(--color--basalt);
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

/* 1.2 Headers */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
  margin-bottom: var(--spacing);
  margin-top: 0;
}

/* 1.3 Paragraphs */

p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/**
 * 2. UTILITIES
 */

/* 2.1 Alignment */

.u-align--center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.u-align--left {
  text-align: left;
}

.u-align--right {
  text-align: right;
}

/* 2.2 Display */

.u-display--block {
  display: block;
}

.u-display--flex {
  display: flex;
}

.u-display--inline-block {
  display: inline-block;
}

/* 2.4 Full height */

.u-full-height {
  height: 100%;
}

.u-full-width {
  width: 100%;
}

/* 2.5 Margins */

.u-margin-bottom {
  margin-bottom: var(--spacing);
}

.u-margin-left--small {
  margin-left: calc(0.5 * var(--spacing));
}

.u-margin-right {
  margin-right: var(--spacing);
}

.u-margin-right--small {
  margin-right: calc(0.5 * var(--spacing));
}

.u-margin-top {
  margin-top: var(--spacing);
}

.u-no-margin {
  margin: 0;
}

/* 2.6 Padding */

.u-padding {
  padding: var(--spacing);
}

.u-padding--small {
  padding: calc(0.5 * var(--spacing));
}

/* 2.7 Lists */

.u-unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 3. OBJECTS */

/* 3.1 Button */

.o-button {
  background: none;
  border-color: var(--color--deep-sea);
  border-radius: 2px;
  border-style: solid;
  border-width: 2px;
  box-shadow: none;
  color: var(--color--deep-sea);
  cursor: pointer;
  font-size: 1em;
  display: block;
  font-weight: 900;
  padding: 1em;
  text-shadow: none;
  text-transform: uppercase;
  transition: var(--transition);
}

.o-button--disabled {
  border-color: rgb(var(--label-border-color--active));
  color: rgb(var(--label-border-color--active));
  cursor: not-allowed;
}

.o-button:active,
.o-button:focus,
.o-button:hover {
  border-color: var(--color--shallow-sea);
  color: var(--color--shallow-sea);
  outline: none;
}

.o-button--disabled:active,
.o-button--disabled:focus,
.o-button--disabled:hover {
  background: none;
  border-color: rgb(var(--label-border-color--active));
  color: rgb(var(--label-border-color--active));
  outline: none;
}

/* 3.3 Containers */

.o-container {
  padding: var(--spacing);
  position: relative;
}

/* 3.4 Inputs */

.o-input {
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  color: var(--color--swan);
  display: block;
  font-size: 1.5em;
  padding: calc(0.5 * var(--spacing));
  position: relative;
  margin-top: 0.3em;
  transition: var(--transition);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999999;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #999999;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #999999;
}

.o-input:focus {
  border-bottom: 1px solid var(--color--shallow-sea);
  color: var(--color--shallow-sea);
  outline: none;
}

.o-input-field {
  margin-bottom: calc(0.5 * var(--spacing))
}

.o-input-label {
  display: block;
}

/* 3.5 Labels */

.o-label {
  align-items: center;
  background: rgb(var(--label-background-color));
  border: none;
  border-radius: var(--border-radius);
  color: rgb(var(--label-text-color));
  display: inline-flex;
  font-size: 0.75em;
  font-weight: 900;
  padding: var(--button-padding);
  text-transform: uppercase;
  transition: var(--transition);
}

.o-label--button {
  cursor: pointer;
}

.o-label--button:active,
.o-label--button:focus,
.o-label--button:hover {
  background: rgb(var(--label-background-color--active));
  border-color: rgb(var(--label-border-color--active));
  color: rgb(var(--body-text-color));
  outline: none;
}

/* 3.6 Links */

.o-link {
  color: rgb(var(--button-color));
  text-decoration: none;
  transition: var(--transition);
}

.o-link-icon {
  margin-left: calc(0.5 * var(--spacing));
  transition: var(--transition);
}

.o-link:active .o-link-icon,
.o-link:focus .o-link-icon,
.o-link:hover .o-link-icon {
  margin-left: var(--spacing);
}

/* 3.7 Loaders */

/* 3.9 Selects */

.o-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.o-select:active,
.o-select:focus,
.o-select:hover {
  background: rgb(var(--label-background-color--active));
  border-color: rgb(var(--label-border-color--active));
  color: rgb(var(--body-text-color));
  outline: none;
}

/* 3.10 Subheadings */

.o-subheading {
  display: block;
  font-size: 0.5em;
  font-style: italic;
}

/* 4. COMPONENTS */


/* 4.1 Breadcrumbs */

.c-breadcrumbs-item {
  border-right: 1px dotted rgb(var(--label-border-color--active));
}

.c-breadcrumbs-item:first-child {
  margin-left: 0;
}

.c-breadcrumbs-item:last-child {
  border: none;
}

.c-breadcrumbs-link {
  border-bottom: 1px solid rgb(var(--label-text-color));
  color: rgb(var(--label-text-color));
  display: block;
  padding-bottom: 3px;
}

.c-breadcrumbs-link:active,
.c-breadcrumbs-link:focus,
.c-breadcrumbs-link:hover {
  border-bottom: 1px solid transparent;
  color: rgb(var(--body-text-color));
}

/* 4.2 Empty List */

.c-empty-list {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100vw;
}

.c-empty-list-icon {
  font-size: 500%;
  margin-bottom: 0.5em;
}

/* 4.3 Error */

.c-error {
  color: rgb(var(--error-color));
  display: table-cell;
  height: 100vh;
  text-align: center;
  vertical-align: middle;
  width: 100vw;
}

.c-error-button {
  border: var(--border-width) solid rgb(var(--error-color));
  color: rgb(var(--error-color));
}

.c-error-button:active,
.c-error-button:focus,
.c-error-button:hover {
  background: rgb(var(--error-color));
  border: 2px solid rgb(var(--error-color));
}

.c-error-icon {
  font-size: 500%;
  margin-bottom: 0.5em;
}

/* 4.4 Header */

.c-header {
  background: var(--color--basalt);
  color: var(--color--swan);
  display: grid;
  grid-gap: calc(var(--spacing)/2);
  grid-template-columns: min-content minmax(75%, 1fr);
  padding: calc(var(--spacing)/2);
  width: 100%;
}

@media(min-width: 600px) {
  .c-header {
    grid-gap: var(--spacing);
    padding: var(--spacing);
  }
}

.c-header-link {
  background: none;
  border: none;
  color: var(--color--swan);
  cursor: pointer;
  font-size: 2em;
  opacity: 0.5;
  transition: var(--transition);
}

.c-header-link--is-active,
.c-header-link:active,
.c-header-link:focus,
.c-header-link:hover {
  opacity: 1;
  outline: none;
}

/* 4.5 List Filters */

.c-list-filters {
  display: flex;
  flex-direction: column;
}

@media(min-width: 600px) {
  .c-list-filters {
    flex-direction: row;
  }
}

/* 4.6 List Header */

.c-list-header {
  display: grid;
  grid-template-rows: auto auto;
}

@media(min-width: 600px) {
  .c-list-header {
    grid-template-rows: auto;
    grid-template-columns: auto max-content;
  }
}

.c-list-header-controls {
  display: grid;
  grid-template-rows: auto auto;
  margin-bottom: var(--spacing);
}

@media(min-width: 600px) {
  .c-list-header-controls {
    grid-gap: calc(var(--spacing) / 2);
  }
}

/* 4.7 List Item */

.c-list-item {
  background: var(--color--swan);
  box-shadow: 1em 1em 4em rgba(0,0,0,0.5);
  display: flex;
  margin-bottom: var(--spacing);
  flex-direction: column;
  transition: var(--transition);
}

@media(min-width: 600px) {
  .c-list-item {
    flex-direction: row;
  }
}

.c-list-item-episode-number {
  align-items: center;
  background-color: rgb(var(--list-item-image-background));
  border-bottom: 1px solid rgb(var(--label-background-color));
  color: rgb(var(--label-text-color));
  display: flex;
  flex: 1;
  font-size: 4em;
  font-weight: 700;
  justify-content: center;
  text-align: center;
}

@media(min-width: 600px) {
  .c-list-item-episode-number {
    border: none;
  }
}

.c-list-item-image-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.c-list-item-image {
  align-items: center;
  background-color: rgb(var(--list-item-image-background));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(var(--list-item-image-color));
  display: flex;
  flex: 1;
  font-size: 400%;
  justify-content: center;
  transform: scale(1);
  transition: var(--transition);
}

.c-list-item:hover {
  background: white;
}

.c-list-item:hover .c-list-item-image {
  transform: scale(1.1);
}

.c-list-item-details {
  flex: 3;
  padding: var(--spacing);
  position: relative;
}

.c-list-sort-order-button {
  cursor: pointer;
}

.c-list-sort-order-button:active,
.c-list-sort-order-button:focus,
.c-list-sort-order-button:hover {
  background: rgb(var(--label-border-color--active));
  color: rgb(var(--body-text-color));
  outline: none;
}

/* 4.8 List Sorter */

.c-list-sorter {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: auto min-content;
}

.c-list-sort-order-button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.c-list-sort-order-select {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.c-panel {
  background: var(--color--swan);
  box-shadow: 1em 1em 4em rgba(0,0,0,0.5);
  padding: var(--spacing);
}

/* 4.9 Search form */

.c-search-form {
  display: grid;
  grid-template-columns: auto min-content;
}

.c-search-form-input {
  background: none;
  border: none;
  border-bottom: 1px solid var(--color--swan);
  color: white;
  font-size: 2em;
  font-weight: 300;
  opacity: 0.5;
  transition: var(--transition);
  width: 100%;
}

.c-search-form-input:focus {
  opacity: 1;
  outline: none;
}

.c-search-form-button {
  background: none;
  border: none;
  color: var(--color--swan);
  cursor: pointer;
  font-size: 2em;
  opacity: 0.5;
  transition: var(--transition);
}

.c-search-form-button:active,
.c-search-form-button:focus,
.c-search-form-button:hover {
  color: white;
  opacity: 1;
  outline: none;
}

.c-search-form-input:focus + .c-search-form-button {
  color: white;
}

/* 4.10 ToggleButton */

.c-toggle-button-group {
  display: flex;
  margin-bottom: calc(var(--spacing) * 0.5);
  width: 100%;
}

@media(min-width: 600px) {
  .c-toggle-button-group {
    margin-bottom: 0;
    width: auto;
  }
}

.c-toggle-button-group .c-toggle-button:first-child .c-toggle-button-label {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.c-toggle-button-group .c-toggle-button:last-child .c-toggle-button-label {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.c-toggle-button {
  flex: 1;
}

@media(min-width: 600px) {
  .c-toggle-button {
    min-width: 8em;
  }
}

.c-toggle-button + .c-toggle-button {
  margin-left: 1px;
}

.c-toggle-button-label {
  background: white;
  border: 2px solid rgb(var(--label-background-color));
  color: rgb(var(--label-border-color--active));
  cursor: pointer;
  display: block;
  font-size: 0.75em;
  font-weight: 900;
  padding: var(--button-padding);
  text-transform: uppercase;
  transition: var(--transition);
}

.c-toggle-button-label:active,
.c-toggle-button-label:focus,
.c-toggle-button-label:hover {
  color: rgb(var(--label-background-color--active));
  border-color: rgb(var(--label-border-color--active));
}

.c-toggle-button input {
  display: none;
}

.c-toggle-button input:checked ~ .c-toggle-button-label{
  background: rgb(var(--label-background-color));
  color: rgb(var(--label-text-color));
}

.c-toggle-button input:checked ~ .c-toggle-button-label:active,
.c-toggle-button input:checked ~ .c-toggle-button-label:focus,
.c-toggle-button input:checked ~ .c-toggle-button-label:hover {
  background: rgb(var(--label-border-color--active));
  color: rgb(var(--body-text-color));
  outline: none;
}

/* 4.11 Watchlist Item */

.c-watchlistitem-header {
  background-color: rgb(var(--body-text-color));
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  boxShadow: inset 0 0 15px black;
}

.c-watchlistitem-header-content {
  color: white;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: var(--spacing);
}

.c-watchlistitem-header-meta {
  text-align: right;
}
