.c-modal {
  background: rgba(0,0,0,0.8);
  height: 100vh;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: var(--transition);
  top: 0;
  width: 100vw;
  z-index: -1;
}

.c-modal-content {
  align-items: center;
  background: var(--color--swan);
  box-shadow: var(--shadow);
  color: var(--color--guava);
  display: grid;
  font-size: 1.5em;
  justify-content: center;
  left: 50%;
  max-height: 90vh;
  opacity: 0;
  overflow-y: scroll;
  padding: var(--spacing);
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translateX(-50%) translateY(100%);
  transition: 0.4s 0.2s ease-out;
  width: 90vw;
  z-index: 3;
}

.fa.c-modal-icon {
  color: var(--color--guava);
  display: block;
  font-size: 3em;
}

.c-modal--is-shown {
  opacity: 1;
  pointer-events: auto;
  z-index: 2;
}

.c-modal--is-shown .c-modal-content {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%);
}

@media(min-width: 600px) {
  .c-modal-content {
    width: 60vw;
  }
}

.c-modal-button-group {
  justify-content: space-around;
}
