.c-watchlistitem-header {
  background-color: var(--color--swan);
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  boxShadow: inset 0 0 15px black;
}

.c-watchlistitem-header-content {
  color: var(--color--swan);
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: var(--spacing);
}

.c-watchlistitem-header-meta {
  text-align: right;
}
