.c-loader {
  display: inline-block;
  height: 4em;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-2em) translateY(-2em);
  width: 4em;
}

.c-loader:after {
  animation: loading 1.2s infinite;
  border: 26px solid var(--color--swan);
  border-color: var(--color--swan) transparent var(--color--swan) transparent;
  border-radius: 50%;
  content: "";
  display: block;
  height: 0;
  width: 0;
}

@keyframes loading {
  0% {
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transform: rotate(0);
  }
  50% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: rotate(900deg);
  }
  100% {
    transform: rotate(1800deg);
  }
}
