.c-toggle-button {
  align-items: center;
  color: var(--color--concrete);
  cursor: pointer;
  display: flex;
  opacity: 0.75;
  transition: var(--transition)
}

.c-toggle-button--is-checked {
  color: var(--color--savannah);
}

.c-toggle-button:active,
.c-toggle-button:focus,
.c-toggle-button:hover {
  opacity: 1;
}

.c-toggle-button-input {
  display: none;
}

.fa.c-toggle-button-icon {
  font-size: 1.5em;
  margin-right: 0.25em;
}

/* .c-toggle-button-group {
  display: flex;
  margin-bottom: calc(var(--spacing) * 0.5);
  width: 100%;
}

@media(min-width: 600px) {
  .c-toggle-button-group {
    margin-bottom: 0;
    width: auto;
  }
}

.c-toggle-button-group .c-toggle-button:first-child .c-toggle-button-label {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.c-toggle-button-group .c-toggle-button:last-child .c-toggle-button-label {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.c-toggle-button {
  flex: 1;
}

@media(min-width: 600px) {
  .c-toggle-button {
    min-width: 8em;
  }
}

.c-toggle-button + .c-toggle-button {
  margin-left: 1px;
}

.c-toggle-button-label {
  background: white;
  border: 2px solid var(--color--fog);
  color: var(--color--concrete);
  cursor: pointer;
  display: block;
  font-size: 0.75em;
  font-weight: 900;
  padding: var(--button-padding);
  text-transform: uppercase;
  transition: var(--transition);
}

.c-toggle-button-label:active,
.c-toggle-button-label:focus,
.c-toggle-button-label:hover {
  color: var(--color--concrete);
  border-color: var(--color--concrete);
}

.c-toggle-button input {
  display: none;
}

.c-toggle-button input:checked ~ .c-toggle-button-label{
  background: var(--color--fog);
  color: var(--color--basalt);
}

.c-toggle-button input:checked ~ .c-toggle-button-label:active,
.c-toggle-button input:checked ~ .c-toggle-button-label:focus,
.c-toggle-button input:checked ~ .c-toggle-button-label:hover {
  background: var(--color--concrete);
  color: var(--color--swan);
  outline: none;
} */
