.c-breadcrumbs-item {
  border-right: 1px dotted var(--color--concrete);
}

.c-breadcrumbs-item:first-child {
  margin-left: 0;
}

.c-breadcrumbs-item:last-child {
  border: none;
}

.c-breadcrumbs-link {
  border-bottom: 1px solid var(--color--concrete);
  color: var(--color--concrete);
  display: block;
  padding-bottom: 3px;
}

.c-breadcrumbs-link:active,
.c-breadcrumbs-link:focus,
.c-breadcrumbs-link:hover {
  border-bottom: 1px solid transparent;
  color: var(--color--swan);
}
